
nav {
    background-color: #333333;
    width: 100%;
    padding-top:0 ;
}

nav .profile_pic {
    margin:10px 10px;
    /* margin-bottom: 30px; */
    border-radius: 50%;
}

.name_info {
    display: flex;
}

.logo {
    margin-left: 5rem;
}

nav .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: space-around; */
    /* padding-left: 5rem; */
    align-items: center;
}


nav .container2 h3 {
    color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
    /* margin-left: 26rem; */
}

nav .container2 .name_info p {
    color: white;
     align-items: center;
    margin-top: 30px;
}
